<footer
[class]= "prefix.main({val:''})"
>
    <section
    [class]= "prefix.pods[0]({val:''})"
    >
        <div
        [class]= "prefix.pods[0]({val:'Item0'})"
        >
            <h2>ABOUT US </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,</p>
            <h3
            *ngFor="let item of ryber.store.meta.items"
            [class]= "prefix.pods[0]({val:'Text0'})"
            >{{item.text}}</h3>
        </div>
        <div
        [class]= "prefix.pods[0]({val:'Item1'})"
        >
            <h2>CATEGORIES</h2>
            <h3
            *ngFor="let item of ryber.store.categories.items"
            [class]= "prefix.pods[0]({val:'Text0'})"
            >{{item.text}}</h3>
        </div>
        <div
        [class]= "prefix.pods[0]({val:'Item2'})"
        >
            <h2>INFORMATION</h2>
            <a
            *ngFor="let item of ryber.store.info.items"
            [class]= "prefix.pods[0]({val:'Text0'})"
            >{{item.text}}</a>

        </div>
        <div
        [class]= "prefix.pods[0]({val:'Item3'})"
        >
            <h2>SERVICE</h2>
            <a
            *ngFor="let item of ryber.store.service.items"
            [class]= "prefix.pods[0]({val:'Text0'})"
            >{{item.text}}</a>
        </div>
    </section>
</footer>
